<ion-nav-bar></ion-nav-bar>
<ion-view view-title="FindFitness">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-person" onclick="location.href='#/nutritionist-profile'"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Nutritionist Dashboard </h2><br/>

    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="NutritionistDB_Ads" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <ion-content>
       <br/><br/><br/><br/>
        <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> My Ads </h2><br/>

          <button ng-click="newTask()"> Post New Ad </button>
        
          <div class="card" ng-repeat="x in showAds()" >
                      
            {{x.location}} <br>
                      
          </div>

      </ion-content>
      </ion-tab>

    <ion-tab title="NutritionistDB_Appointment" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Appointments </h2><br/>

      <div class="card" ng-repeat="x in showAppointment()" >
              {{x.email}}                    
      </div>
 
    </ion-content>
    </ion-tab>

    <ion-tab title="NutritionistDB_Messages" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Messages </h2><br/>

    </ion-content>
    </ion-tab>

  </ion-tabs>
     
    </ion-content>
  </ion-view>