<ion-view view-title="FindFitness">
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Register User" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <ion-content>
       <br/><br/><br/><br/>
        <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register User </h2><br/>
        <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="password" ng-model="password">
          Username: <input type="text" ng-model="username">
          Age: <input type="text" ng-model="age">
          Gender: <select class="ion-input-select" ng-model="gender"> 
                <option>Male</option>
                <option>Female</option>
              </select><br><br><br>
          Height: <input type="text" ng-model="height">
          Weight: <input type="text" ng-model="weight">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerUser(email,password,username,age,gender,height,weight,location)">Sign Me Up</button>  
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="Register Trainer" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register Trainer </h2><br/>
      <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="text" ng-model="password">
          Username: <input type="text" ng-model="username">
          Specialization: <input type="text" ng-model="specialization">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerTrainer(email,password,username,specialization,location)">Sign Me Up</button>  
        </div>
    </ion-content>
    </ion-tab>

    <ion-tab title="Register Nutritionist" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register Nutritionist </h2><br/>
      <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="text" ng-model="password">
          Username: <input type="text" ng-model="username">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerNutritionist(email,password,username,location)">Sign Me Up</button>  
        </div>
    </ion-content>
    </ion-tab>
  </ion-tabs>
  </ion-view>