<ion-nav-bar></ion-nav-bar>
<ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      
    </ion-content>
  </ion-view>

  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Search Trainer" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Search Trainer </h2><br/>

      <div>
        Location <input type="text" ng-model="location"> 
        <br>
        Specialization <input type="text" name="specialization"> 
        <br>
        Type  <select class="ion-input-select"> 
                <option>Personal</option>
                <option>Group</option>
              </select>
        <br><br>
        Cost 
        <div class="range range-assertive">
          0 
            <i class="icon ion-ios-7-sunny-outline"></i>
            <input type="range" min="0" max="100" value="" step="10" list="datalist">
            <datalist id="datalist">
              <option>0</option>
              <option>20</option>
              <option>40</option>
              <option>60</option>
              <option>80</option>
              <option>100</option>
            </datalist>
          100  
        </div>  
        Preferred Timings<br>
        From <input type="time" name = "fromtime">
        To <input type="time" name = "totime">
        <br>
        <button ng-click="searchTrainer(location)"> Search</button>
      </div>
    </ion-content>
    </ion-tab>

    <ion-tab title="Search Nutritionist" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Search Nutritionist </h2><br/>

      <div>
        Location <input type="text" ng-model="location"> 
        <br>
        Specialization <input type="text" name="specialization"> 
        <br>
        Cost 
        <div class="range range-assertive">
          0 
            <i class="icon ion-ios-7-sunny-outline"></i>
            <input type="range" min="0" max="100" value="" step="10">
          100  
            <i class="icon ion-ios-7-sunny"></i>
        </div>        
        <br>
        <br>
        <button ng-click="searchNutritionist(location)"> Search</button>
      </div>
    </ion-content>
    </ion-tab>
  </ion-tabs>