<ion-nav-bar></ion-nav-bar>
<ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content  overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> </h2><br/>
      

      
      <button ng-click="create_message()"> Create Message</button>

      <button ng-click="create_message_sender()"> Create Sender</button>

      <button ng-click="showMessage()"> Show Message</button>
      

    </ion-content>
  </ion-view>