<ion-nav-bar></ion-nav-bar>
<ion-view view-title="HOPEFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
    <!-- class="splash_screen_bg" -->
      <h2 style="text-align: center;font-family: monospace ;font-size: 35px; color: black; font-weight: bolder;">  User Profile </h2><br/>

      <button class="button button-block button-dark" onclick="location.href='#/edit-user-profile'"> Edit Profile </button>

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-weight: bold;">Name</span>
            <br><br> {{show_UserProfile().username}} <br>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-weight: bold;">Email</span>
          <br><br> {{show_UserProfile().email}} <br>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-weight: bold;">Age</span>
          <br><br> {{show_UserProfile().age}} <br>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-weight: bold;">Gender</span>
          <br><br> {{show_UserProfile().gender}} <br>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" style="font-weight: bold;">Location</span>
          <br><br> {{show_UserProfile().location}} <br>
        </label>
      </div>
    </ion-content>
  </ion-view>