<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.js"></script>
 
  <!-- Scripts -->
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  <script src="locator/locator.min.js"></script>
  <script src="locator/locator-tpl.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/angular-chart.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/appservices.js"></script>
  <script src="js/appservicesgeo.js"></script>
  <!--<script src="js/appmodal.js"></script>-->
</head>

<body ng-app="todo">

<ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="bar-positive" align-title="center"></ion-nav-bar>
      <ion-nav-view ></ion-nav-view>
    </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="#/user-profile" menu-toggle=""> My Profile </ion-item>
      </ion-list>
      <ion-list>
        <ion-item href="#/search" menu-toggle=""> Search </ion-item>
      </ion-list>
      <ion-list>
        <ion-item href="#/subscriptions" menu-toggle=""> Subscriptions </ion-item>
      </ion-list>
      <ion-item href="#/messages" menu-toggle=""> Messages </ion-item>
      <ion-list>
        <ion-item href="#/appointment" menu-toggle=""> Schedule Appointment </ion-item>
      </ion-list>
      <ion-list>
        <ion-item href="#/search" menu-toggle=""> Logout </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
    
<script id="login.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-content class="padding" overflow-scroll='true'>
      <br/><br/><br/><br/>
      <div>
        Email: <input type="text" ng-model="email">
        Password: <input type="password" ng-model="password">
        <br><br>
        <button onclick="location.href='#/register'" >Create User</button>
        <br><br>
        <button ng-click="loginUser(email,password)">Login as User</button>
        <br><br>
        <button ng-click="loginTrainer(email,password)">Login as Trainer</button>
        <br><br>
        <button ng-click="loginNutritionist(email,password)">Login as Nutritionist</button>
      </div>
    </ion-content>
  </ion-view>
</script>

<script id="register.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Register User" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <ion-content>
       <br/><br/><br/><br/>
        <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register User </h2><br/>
        <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="password" ng-model="password">
          Username: <input type="text" ng-model="username">
          Age: <input type="text" ng-model="age">
          Gender: <select class="ion-input-select" ng-model="gender"> 
                <option>Male</option>
                <option>Female</option>
              </select><br><br><br>
          Height: <input type="text" ng-model="height">
          Weight: <input type="text" ng-model="weight">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerUser(email,password,username,age,gender,height,weight,location)">Sign Me Up</button>  
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="Register Trainer" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register Trainer </h2><br/>
      <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="text" ng-model="password">
          Username: <input type="text" ng-model="username">
          Specialization: <input type="text" ng-model="specialization">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerTrainer(email,password,username,specialization,location)">Sign Me Up</button>  
        </div>
    </ion-content>
    </ion-tab>

    <ion-tab title="Register Nutritionist" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Register Nutritionist </h2><br/>
      <div>
          Email: <input type="text" ng-model="email">
          Password: <input type="text" ng-model="password">
          Username: <input type="text" ng-model="username">
          Location: <input type="text" ng-model="location">
          <br><br>
          <button ng-click="registerNutritionist(email,password,username,location)">Sign Me Up</button>  
        </div>
    </ion-content>
    </ion-tab>
  </ion-tabs>
  </ion-view>
</script> 

<script id="search.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      
    </ion-content>
  </ion-view>

  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Search Trainer" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Search Trainer </h2><br/>

      <div>
        Location <input type="text" ng-model="location"> 
        <br>
        Specialization <input type="text" name="specialization"> 
        <br>
        Type  <select class="ion-input-select"> 
                <option>Personal</option>
                <option>Group</option>
              </select>
        <br><br>
        Cost 
        <div class="range range-assertive">
          0 
            <i class="icon ion-ios-7-sunny-outline"></i>
            <input type="range" min="0" max="100" value="" step="10" list="datalist">
            <datalist id="datalist">
              <option>0</option>
              <option>20</option>
              <option>40</option>
              <option>60</option>
              <option>80</option>
              <option>100</option>
            </datalist>
          100  
        </div>  
        Preferred Timings<br>
        From <input type="time" name = "fromtime">
        To <input type="time" name = "totime">
        <br>
        <button ng-click="searchTrainer(location)"> Search</button>
      </div>
    </ion-content>
    </ion-tab>

    <ion-tab title="Search Nutritionist" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Search Nutritionist </h2><br/>

      <div>
        Location <input type="text" ng-model="location"> 
        <br>
        Specialization <input type="text" name="specialization"> 
        <br>
        Cost 
        <div class="range range-assertive">
          0 
            <i class="icon ion-ios-7-sunny-outline"></i>
            <input type="range" min="0" max="100" value="" step="10">
          100  
            <i class="icon ion-ios-7-sunny"></i>
        </div>        
        <br>
        <br>
        <button ng-click="searchNutritionist(location)"> Search</button>
      </div>
    </ion-content>
    </ion-tab>
  </ion-tabs>
</script>

<script id="search-results-trainer.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Search Results </h2><br/>

      <div class="card" ng-repeat="x in res_TrainerSearch()">

      {{x.username}} <br>
      {{x.email}} <br>
      {{x.location}} <br>


      <button ng-click="pass_subscribe(x.username,x.email,x.location)"> Subscribe</button>
      </div>
      

    </ion-content>
  </ion-view>
</script>


<script id="search-results-nutritionist.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Search Results </h2><br/>

      <div class="card" ng-repeat="x in res_NutritionistSearch()">

      {{x.username}} <br>
      {{x.email}} <br>
      {{x.location}} <br>


      <!-- <button onclick="location.href='#/appointment'"> Get Appointment</button> -->

      <button ng-click="pass_appointment(x.username,x.email,x.location)"> Get Appointment</button> 
      </div>
      

    </ion-content>
  </ion-view>
</script>


<script id="appointment.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Appointments </h2><br/>

      <div>
        <input type="date" placeholder="Date" ng-model="date">
        <input type="time" placeholder="Time" ng-model="time">
      </div>

      <button ng-click="pass_appointment_1(date,time)">Create new appointment</button>

      <div class="card" ng-repeat="x in appointment_res()">
        {{x.username}}<br>
        {{x.email}}<br>
        {{x.location}}<br>
        {{x.date}}<br>
        {{x.time}}<br>
      </div>
      
    </ion-content>
  </ion-view>
</script>



<script id="subscriptions.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Subscriptions </h2><br/>

                  <div class="card" ng-repeat="x in subscription_res()" >
                    
                    {{x.email}} <br>
                    
                  </div>
                  
     <!--  <button ng-click="list_subscriptions()"> Subscribe</button> -->

    </ion-content>
  </ion-view>
</script>


<!-- <script id="messages.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Search Results </h2><br/>

      <div>
        <input type="text" placeholder="Type Message" ng-model="msg">
      </div>
      <button ng-click="newMessage(msg)"> Send</button>


      <div ng-repeat="x in showMessage()">{{x}}</div>
    </ion-content>
  </ion-view>
</script>
 -->

<script id="nutritionist_dashboard.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Nutritionist Dashboard </h2><br/>

    <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="NutritionistDB_Ads" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> My Ads </h2><br/>

        <button ng-click="newTask()"> Post New Ad </button>
      
        <div class="card" ng-repeat="x in showAds()" >
                    
          {{x.location}} <br>
                    
        </div>

    </ion-content>
    </ion-tab>

    <ion-tab title="NutritionistDB_Appointment" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Appointments </h2><br/>

      <div class="card" ng-repeat="x in showAppointment()" >
              {{x.email}}                    
      </div>
 
    </ion-content>
    </ion-tab>

    <ion-tab title="NutritionistDB_Messages" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-content>
     <br/><br/><br/><br/>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Messages </h2><br/>

    </ion-content>
    </ion-tab>

  </ion-tabs>
     
    </ion-content>
  </ion-view>
</script>


<script id="post-ad-nut.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-stable">
      <h1 class="title">New Ad</h1>
      <button class="button button-clear button-positive" ng-click="">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="create_ad_nut(location)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Enter location" ng-model="location">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Post Ad</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

<script id="trainer_dashboard.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-person" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> Nutritionist Dashboard </h2><br/>

    <ion-tabs class="tabs-positive tabs-icon-top">

      <ion-tab title="TrainerDB_Ads" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
        <ion-content>
         <br/><br/><br/><br/>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Ads </h2><br/>

          <button ng-click="newTask()"> Post New Ad </button>
      
          <div class="card" ng-repeat="x in showAds()">
            {{x.location}} <br>
          </div>
          
        </ion-content>
      </ion-tab>

      <ion-tab title="TrainerDB_Subscriptions" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <ion-content>
         <br/><br/><br/><br/>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Subscriptions </h2><br/>

          <div class="card" ng-repeat="x in subscription_res()" >          
            {{x.email}} <br>
          </div>

        </ion-content>
      </ion-tab>

      <ion-tab title="TrainerDB_Messages" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
        <ion-content>
         <br/><br/><br/><br/>
          <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Messages </h2><br/>

        </ion-content>
      </ion-tab>

  </ion-tabs>
  </ion-content>
  </ion-view>
</script>

<script id="post-ad-trainer.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-stable">
      <h1 class="title">New Ad</h1>
      <button class="button button-clear button-positive" ng-click="">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="create_ad_trainer(location)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Enter location" ng-model="location">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Post Ad</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>














































































<script id="fixedexp.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-person" ng-click="goToDash()"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
     
    </ion-content>
  </ion-view>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Search Trainer" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    
     <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;">  Search Nutritionist </h2><br/>

    </ion-tab>
    <ion-tab title="Search Nutritionist" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" >
      <!-- Tab 1 content -->
    </ion-tab>
  </ion-tabs>
</script>


<script id="new-fixedexpense-category.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-stable">
      <h1 class="title">New Fixed Expense</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="createFixedExpense(task)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Enter expense name" ng-model="task.title">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Enter expense amount" ng-model="task.amount">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Create Expense</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

</body>
</html>















<script id="user-profile.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> My Profile </h2><br/>
    </ion-content>
  </ion-view>
</script>

<script id="user-subscriptions.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> My Subscriptions </h2><br/>
    </ion-content>
  </ion-view>
</script>

<script id="user-messages.html" type="text/ng-template">
  <ion-view view-title="FindFitness">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="padding" overflow-scroll='true'>
      <h2 style="text-align: center;font-family: 'Lucida Calligraphy';font-size: xx-large; color: #4b8bf4; font-weight: bolder;"> My Messages </h2><br/>
    </ion-content>
  </ion-view>
</script>